.body{
    background-image:url(images/dark_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.body_light{
    background-image:url(images/background.jpg);
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
}

.body.light {
    background-image: url(images/background.jpg);
    color: black;
}

.body.light .search_barre,
.body.light .day,
.body.light .main,
.body.light .welcome {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}
.body.light .card,
.body.light .card #wind,
.body.light .card #sunrise,
.body.light .card #sunset {
    color: black;
}

.body.light .search_barre input {
    color: black;
}

.body.light .welcome button {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.body.light .card2{
    background-image: url(images/light_temperature.png);    
    color: black;
}


.hiden{
    display: none;
}

.all {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.search_barre {
    width: 40%;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.25) ;;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search_barre .light_mode{
    width: 40%;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.search_barre i {
    margin-left: 5px;
}

.search_barre input{
    background-color:rgba(0, 0, 0, 0) ; ;
    border: none;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.644);
    padding: 5px;
    font-size: large;
}

.search_barre:hover{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.395);
    transform: translateY(2px);
}

.welcome{
    width: 60%;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border-radius: 20px;
}

.welcome button{
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

.welcome button:hover{
    box-shadow: 0 0 20px 5px rgba(125, 125, 125, 0.6);
}

.index_body {
    background-image:url(images/background.jpg);
    width: 100%;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.card {
    width: 200px;
    height: 300px;
    background-olor: rgba(0, 0, 0, 0.25) ;
    color: aliceblue;
    border-radius: 20px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: aliceblue;
}

#status {
    margin-top: 10px;
}

#icon img{
    margin-top: 10px;
    width: 100%;
    height: 80%;
} 

.card2 {
    background-image: url(images/dark_temperature.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.temp {
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.temp_max {
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    font-size: ;
}

.card3{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.part1 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
}

.part2{
    width: 60%;
    gap: 40px;
}

.part img {
    width: 60px;
    height: 60px;
}

.main2 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.day{
    width: 150px;
    height: 100%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.25) ;
    border-radius: 20px;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.day img{
    width: 100px;
    height: 90px;
    margin-top: -20px;
    margin-bottom: -10px;
}

.btn_exit{
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 60px ;
    background-color: rgba(0, 0, 0, 0.25) ;
    color: aliceblue;
    border-radius: 20px;
    position: center;
}

.btn_exit:hover {
    transform: translateY(1px);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.395);
}

