.searche_body{
    background-image:url(images/background.jpg);
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.search_barre {
    width: 40%;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.25) ;;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search_barre i {
    margin-left: 5px;
}

.search_barre input{
    background-color:rgba(0, 0, 0, 0) ; ;
    border: none;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    margin-left: 5px;
}

.search_barre:hover{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
    transform: translateY(2px);
}

.welcome{
    width: 60%;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border-radius: 20px;
}

.welcome button{
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

.welcome button:hover{
    box-shadow: 0 0 20px 5px rgba(125, 125, 125, 0.6);
}

.index_body {
    background-image:url(images/background.jpg);
    width: 100%;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.weather {
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.25) ;;
    border-radius: 20px;
}

.index_body button{
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.25) ;;
    border-radius: 20px;
}
